.banner {
  @include flex-primary();
  align-items: center;
  flex-direction: column;
  text-align: center;
  width: 100%;

  & h1 {
    color: $white;
    width: 100%;
  }
}

.banner__image {
  background: $linear-gradient, url("../images/green-apples.jpg");
  grid-area: image;
  height: 146px;
}
