.button {
  background: $primary-font-color;
  border: 0;
  border-radius: $border-radius;
  color: $white;
  font-family: $primary-font-family;
  font-size: 1rem;
  font-weight: 700;
  padding: 5px 10px 5px 10px;
  text-align: center;
  transition: 0.3s ease;

  &.button--show-all {
    height: 40px;
    margin-top: 20px;
    width: 200px;
  }

  &.button--search {
    border-radius: 0px 12px 12px 0px;
  }

  &:hover {
    background-color: $secondary-font-color;
    cursor: $active-cursor;
  }
}

.button--close-recipe {
  background: $white;
  border: 2px double $primary-font-color;
  border-radius: $border-radius;
  color: $primary-font-color;
  // TODO check this margin once functioning and viewable
  margin: -4% -3% 2% -1%;
  position: fixed;
}

.button--nav {
  @include flex-primary();
  align-items: center;
  background: $primary-bg-color;
  flex-direction: column;
  font-size: 0rem;
  width: 15%;

  & img {
    max-height: 40px;
    max-width: 40px;
  }

  &:hover {
    color: #c4eb67;
    font-size: 0.8rem;
    text-shadow: $primary-text-shadow;
  }
}
