.icon {
  width: 34px;
}

.search {
  border-radius: 15px;
  border: 3px outset #c4eb67;
  box-shadow: $primary-box-shadow;
  font-family: $primary-font-family;
  width: 100%;

  & .search__input {
    background-color: #b6dcca;
    background: $gradient;
    border: 0;
    border-radius: 12px 0px 0px 12px;
    box-shadow: inset -3px -1px 20px 1px #5c7894;
    color: $primary-bg-color;
    font-family: $primary-font-family;
    font-size: 1.4rem;
    padding: 0 1rem;
    text-align: right;
    transition: $transition;
    width: 100%;

    &:hover {
      box-shadow: inset 0px 0px 0px 0px white;
    }

    &:focus {
      box-shadow: $secondary-box-shadow;
    }

    &::placeholder {
      color: $primary-bg-color;
      font-size: 20px;
      text-align: right;
      text-shadow: none;
    }

    &:focus::placeholder {
      font-size: 0;
      transition: $transition;
    }
  }
}
