.icon {
  width: 34px;

  &.icon--header {
    margin-left: 5px;
  }
}

#search {
  border-radius: 15px 15px 15px 15px;
  border: 3px outset #c4eb67;
  box-shadow: $primary-box-shadow;
  font-family: "Quicksand", sans-serif;
  margin: 1.2% 0.5% 1.2% 0%;
  width: 100%;
}

#search-input {
  background-color: #b6dcca;
  background: -webkit-gradient(
    linear,
    left top,
    left bottom,
    color-stop(0, rgb(255, 255, 255)),
    color-stop(1, rgb(225, 225, 225))
  );
  border-radius: 10px 0px 0px 10px;
  border: none;
  box-shadow: inset -3px -1px 20px 1px #5c7894;
  color: #5b7894;
  font-family: "Quicksand", sans-serif;
  font-size: 42px;
  height: 100%;
  outline: none;
  padding: 0% 2% 0% 0%;
  text-align: right;
  transition: 0.8s ease;
  width: 100%;
}

#search-input:hover {
  box-shadow: inset 0px 0px 0px 0px white;
  transition: 0.8s ease;
}

#search-input:focus {
  box-shadow: inset 0px 0px 0px 0px white;
}

#search-input::placeholder {
  color: #5b7894;
  font-size: 20px;
  text-align: right;
  text-shadow: none;
}

#search-input:focus::placeholder {
  font-size: 0px;
  transition: 0.8s ease;
}
