aside {
  @include flex-primary();
}

body {
  -webkit-font-smoothing: auto;
  background-color: $primary-bg-color;
  display: grid;
  font-family: $primary-font-family;
  grid-template-areas:
    "header header"
    "image image"
    "aside main";
  grid-template-columns: 1fr 5fr;
  height: 100vh;
  margin: 0;
  padding: 0;
}

.button--nav {
  flex-direction: column;
}

.card-photo-container {
  @include flex-primary();
  align-items: center;
}

header,
main,
#search {
  @include flex-primary();
  flex-direction: row;
}

header {
  align-items: center;
  grid-area: header;
  height: 86px;
}

.is-hidden {
  display: none;
}

main {
  align-content: flex-start;
  flex-wrap: wrap;
  grid-area: main;
}
