@import "_variables";

body {
  background-color: $primary-bg-color;
  display: grid;
  font-family: $primary-font-family;
  grid-template-columns: 1fr 5fr;
  grid-template-areas:
    "header header"
    "image image"
    "aside main";
  height: 100vh;
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: auto;
}

main {
  grid-area: main;
  display: flex;
  justify-content: center;
  align-content: flex-start;
  flex-direction: row;
  flex-wrap: wrap;
}

aside {
  display: flex;
  justify-content: center;
}

.nav-btn {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

header {
  display: flex;
  flex-direction: row;
}

#search {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.card-photo-container {
  align-items: center;
  display: flex;
  justify-content: center;
}
