@import "_variables";

@mixin flex-primary() {
  display: flex;
  justify-content: center;
}

body {
  background-color: $primary-bg-color;
  display: grid;
  font-family: $primary-font-family;
  grid-template-columns: 1fr 5fr;
  grid-template-areas:
    "header header"
    "image image"
    "aside main";
  height: 100vh;
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: auto;
}

header,
main,
#search {
  // Header didn't originally have j-c center, so we may need
  // to get rid of that
  @include flex-primary();
  flex-direction: row;
}


main {
  grid-area: main;
  align-content: flex-start;
  flex-wrap: wrap;
}

aside {
  @include flex-primary();
}

.nav-btn,
.card-photo-container {
  @include flex-primary();
  align-items: center;
}

.nav-btn {
  flex-direction: column;
}
