.drop-menu {
  align-items: $align-center;
  background-color: $tertiary-bg-color;
  height: 600px;
  margin-left: 81%;
  margin-top: 92px;
  overflow: scroll;
  padding: 12px;
  position: absolute;
  text-align: $align-center;
  width: 250px;
  z-index: 3;

  & h2 {
    color: $primary-font-color;
    margin: 0px;
  }
}

.pantry-list {
  color: $black;
  padding-left: 1rem;
  text-align: $align-left;
}
