aside {
  background-color: $white;
  height: auto;
}

.wrap {
  background-color: $white;
  height: 100vh;
  padding: 10px;
  position: relative;
  width: 200px;
}

ul {
  list-style-type: none;
  text-align: $left-align;
  padding-left: 35px;
}

li {
  margin: 2px;
}
