h1 {
  align-self: $align-center;
  color: $white;
  font-family: $secondary-font-family;
  font-size: 3rem;
  margin: 0%;
  padding: 0.5% 0.7% 0%;
  width: 70%;
}

h2 {
  color: $secondary-font-color;
  margin: 10px 0px 10px 0px;
}

h3 {
  @include transition(0.4s);
  color: $primary-font-color;
  cursor: pointer;
  height: 17%;
  margin: 5px 5px 10px 0px;
}

h4 {
  color: $primary-font-color;
  background-color: $secondary-color;
  border-radius: $border-radius;
  margin: 10px 0px 0px 0px;
  padding: 1px 4px 1px 4px;
  width: max-content;
}

span {
  color: $secondary-color;
  font-weight: 400;
}
