// Colors
$black: #000000;
$primary-bg-color: #5b7894;
$primary-font-color: #359567;
$secondary-bg-color: #b6dcca;
$secondary-color: #c4eb67;
$secondary-font-color: #84c8a4;
$secondary-text-shadow: 0px 2px 4px $black;
$tertiary-bg-color: #dae4ee;
$white: #ffffff;

// Details
$border-radius: 3px;
$gradient: -webkit-gradient(
  linear,
  left top,
  left bottom,
  color-stop(0, $white),
  color-stop(1, $tertiary-bg-color)
);
$linear-gradient: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5));
$primary-box-shadow: 0px 0px 7px 0px $primary-bg-color;
$primary-text-shadow: 0px 2px 4px $black;
$secondary-box-shadow: inset 0px 0px 0px 0px $white;
$secondary-text-shadow: 0px 2px 4px $secondary-color;
$center-align: center;
$left-align: left;

// Fonts
$primary-font-family: "Quicksand", sans-serif;
$secondary-font-family: "Sulphur Point", sans-serif;

// States
$active-cursor: pointer;
$transition: 0.4s ease-in-out;
